@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 25px;
  font-family: "Poppins", sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  width: 100%;
}
img {
  width: 100%;
  padding: 10px;
}
h2 {
  font-size: 2rem;
  color: #c9c9c9;
}
a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
p {
  margin: 10px;
}
@media (min-width: 750px) {
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .text {
    width: 400px;
    margin-top: 5%;
  }
  .imgs1 {
    margin-bottom: 10%;
  }
  .imgs2 {
    margin-top: 15%;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    font-size: 1.5rem;
  }
}
@media (min-width: 930px){
  .item{
    justify-content: center;
  }
}
