@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
    margin: 0;
}
body{
    background-image: url("../img/fondo.png");
    background-size: cover;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 200px 0;
}
h1{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
}
.info{
    text-align: end;
    margin-right: 90px;
}
.container button{
    color: black;
    background-color: rgba(255, 255, 255, 0.836);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 50px;
    margin-left: 90px;
}
.info p{
    color: white ;
    font-size: 30px;
    margin-bottom: 30px;
}
.redes{
    display: flex;
    flex-direction: column;
    margin: 60px;
}
.redes img{
    margin: 25px 0;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.text{
    display: flex;
}
.text p{
    color: white;
    margin-left: 25px;
}
@media (max-width:1400px) {
    .body{
        height: auto;
    }
    .container{
        margin: 0 0 150px;
    }
}
@media (max-width:768px) {
    body{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        
    }
    h1{
        font-size: 60px;
        margin-bottom: 60px;
    }
    .info{
        margin: 0;
    }
    .container{
        margin: 80px 10px;
        flex-direction: column;
    }
    .container button{
        color: black;
        background-color: rgba(255, 255, 255, 0.836);
        border: none;
        border-radius: 30px;
        font-size: 20px;
        padding: 7px 50px 11px;
        margin-left: 90px;
    }
    .redes{
        flex-direction: row;
        margin-bottom: 50px;
    }
    .redes img{
        margin: 0 20px;
    }
    .info p{
        font-size: 25px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .text{
        margin: 40px 0;
    }
    
}