@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: #252525;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

hr {
  border: none;
  background-color: #252525;
  width: 60px;
  height: 3px;
  border-radius: 5px;
}

.grid {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.lst-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lst-title {
  font-size: 1.1rem;
}

.img-1 {
  width: 100%;
}

.container-bot {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.1rem;
  text-align: center;
}

.text {
  text-align: justify;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

.lista {
  background-color: white;
  padding: 55px 30px;
  border-radius: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.imgs-bot {
  width: 100%;
}

@media (min-width: 930px) {
  .title {
    font-size: 3rem;
  }

  .itm1 {
    margin: auto auto 100px auto;
  }

  .img-1 {
    position: relative;
  }

  .lista {
    top: 50%;
    position: absolute;
    flex-direction: row;
    z-index: 1;
  }

  .container-bot {
    flex-direction: row;
  }

  .text {
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
  }
}
