@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
button{
  background-color: #000000;
  color: white;
  padding: 2%;
  border-radius: 15px;
  width: 10vw;
  font-size: 1vw;
  border: transparent;
}
button:hover{
  background-color: #ab752e;
}
.contenedor {
  display: grid;
  grid-template-columns: 55%  45%;
  grid-template-rows: 1.5fr 0.2fr;
  width: 100%;
  height: auto;
  background-color: #FBF4DF;
}
img{
    width: 20%;
}
.contenedor_imagenes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
}
.contenedor_imagenes .uno{
    grid-row: 2/6;
    grid-column: 2/6;
    width: 100%;
}
.contenedor_imagenes .uno img{
    position: relative;
    width: 100%;
}
.contenedor_imagenes .dos{
    grid-row: 2/6;
    grid-column: 2/6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_imagenes .dos img{
    position: relative;
    width: 80%;
}
.contenedor_imagenes .tres{
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_imagenes .tres img{
    position: relative;
    width: 60%;
}
.contenedor_imagenes .cuatro{
    grid-row: 5/7;
    grid-column: 5/7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}
.contenedor_imagenes .cuatro img{
    position: relative;
    width: 35%;
}
.contenedor_imagenes .cinco{
    grid-row: 2/6;
    grid-column: 2/6;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
    padding-bottom: 2%;
}
.contenedor_imagenes .cinco img{
    position: relative;
    width: 80%;
}
.contenedor_items{
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 2/3;
    position: relative;
    width: 100%;
    height: 80%; 
    z-index: 3;  
    padding: 0% 0% 2%;
}
.contenedor_trabajo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    background: #F8D046;
    width: 90%;
    font-family: "Poppins", sans-serif;
    color: white;
    border: 2px solid #000000;
    box-shadow: 12px 10px 10px 0px #D7AA3B;
}
.contenedor_trabajo .items{
    display: flex;
    width: 20%;
    padding: 1% 2%;
    flex-direction:column; 
}
.contenedor_texto {
    display: flex;
    flex-direction: column;
    padding: 12%;
}
.contenedor_texto .star {
    width: 100%;
    display: flex;
    align-items: center;
}
.contenedor_texto .star img{
    width: 15%;
}
.contenedor_texto .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
}
.contenedor_texto .titulo h1{
    width: 100%;
    font-family: Poppins,sans-serif;
    font-size: 3.4vw;
}
.contenedor_texto .titulo img{
    width: 5%;
}
.contenedor_texto .titulo .img1{
    position: relative;
    top: -7%;
    left: -50%;
}
.contenedor_texto .titulo .img2{
    position: relative;
    top: -18%;
    left: 50%;
}
.contenedor_texto .titulo .img3{
    position: relative;
    top: 18%;
    left: 50%;
  
}
.contenedor_texto .titulo .img4{
    position: relative;
    top: 7%;
    left: -50%;
}
.contenedor_texto .tema {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;

}
.contenedor_texto .tema p{
    width: 80%;
    font-family: Poppins,sans-serif;
    font-size: 1vw;
}
@media (max-width:990px){
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
    }
    .contenedor_texto .titulo h1 {
        font-size: 8vw;
    }
    .contenedor_texto .tema p {
        font-size: 2vh;
        text-align: justify;
        width: 100%;
    }
    .contenedor_texto .tema  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedor_texto {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        padding: 0%;
        gap: 2%;
    }
    .contenedor_texto .titulo {
        width: 90%;
        margin: 0% 5%;
    }
    .contenedor_texto .titulo .img1{
        position: absolute;
        left: 2.5%;
        top: 7.5%;
    }
    .contenedor_texto .titulo .img2{
        position: absolute;
        left: 92.5%;
        top: 7.5%;
    }
    .contenedor_texto .titulo .img3{
        position: absolute;
        left: 92.5%;
        top: 21.5%;
    }
    .contenedor_texto .titulo .img4{
        position: absolute;
        left: 2.5%;
        top: 21.5%;
    }
    button{
        width: 20vw;
        font-size: 2.3vw;
      }

}