@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-image: url("../img/cc1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: white;
  text-decoration: none;
  color: #252525;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px;
  gap: 20px;
  text-align: center;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.lst-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  text-align: justify;
  background-color: #5f5f5fb5;
  padding: 25px;
  border-radius: 20px;
}

@media (min-width: 930px) {
  .grid {
    gap: 20%;
  }

  .itm2 {
    align-items: center;
  }

  .info-1 {
    align-items: start;
    justify-content: center;
    text-align: start;
    padding-left: 10%;
    width: 50%;
  }

  .title {
    font-size: 3.5rem;
    text-align: start;
  }

  .lista {
    flex-direction: row;
    width: 80%;
    margin-bottom: 10%;
  }

  .circle {
    width: 1px;
    height: 1px;
    position: absolute;
    border-radius: 100%;
    left: 70%;
    top: 65%;
    box-shadow: 5px -1px 300px 90px rgba(0, 255, 255, 0.847);
  }
}