@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #363830;
  background: rgb(214, 214, 214);
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(155, 166, 166, 1) 100%
  );
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  align-items: center;
  gap: 20px;
}

.title {
  color: #363830;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  
}

.text {
  width: 80%;
  text-align: justify;
}

img {
  width: 80%;
}

.container-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  background-color: #e0e0e089;
  padding: 35px;
  border-radius: 100px;
}

.btn {
    text-align: center;
    text-decoration: none;
    background-color: #363830;
    color: white;
    padding: 6px 25px;
    border-radius: 35px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.num {
  width: min-content;
}

.sub-text {
  text-align: justify;
}

hr {
    border: none;
    border-radius: 20px;
    background-color: #363830;
    width: 25px;
    height: 3px;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .grid-item {
    margin: 0 auto;
  }

  .g1 {
    justify-content: center;
    align-items: start;
    z-index: 3;
    position: relative;
    left: 280px;
  }

  .title {
    font-size: 4.6rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .btn {
    padding: 10px 40px;
  }

  .container-info {
    flex-direction: row;
    width: 110%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    position: relative;
    top: 120px;
    right: 200px;
  }

  .info {
    width: 33.3%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
  }
}