@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px auto;
  gap: 30px;
}

.title {
  text-align: center;
  color: #252525;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #252525;
}

.btn {
  text-decoration: none;
  background-color: #252525;
  color: white;
  font-size: 0.99rem;
  padding: 5px 10px;
  text-align: center;
  border-radius: 8px;
}

img {
  width: 110%;
}

@media (min-width: 930px) {
  .grid-item {
    flex-direction: row;
    gap: 0;
  }
  .grid_item_titulo {
    width: 60%;
  }
  .title {
    width: 60%;
    font-size: 3rem;
    margin-bottom: 3%;
  }

  .info {
    align-items: start;
    width: 30%;
    gap: 10px;
  }
}
