@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url('../img/ei1.jpg');
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 25px;
}

.info-1 {
    font-size: 1.3rem;
}

.grid-item img:nth-child(1) {
    width: 25%;
    margin: 25px;
}

img {
    width: 100%;
}

@media (min-width: 930px) {
    .grid-item {
        justify-content: start;
        align-items: start;
        flex-direction: row;
    }

    .info-1 {
        width: 50%;
        align-items: start;
        text-align: start;
        padding: 80px 100px;
    }

    img {
        width: 50%;
    }
}