@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  color: #252525;
}

hr {
  border: none;
  width: 10%;
  height: 4 px;
  background-color: #252525;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.info-1 {
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

.contend-img-2 {
  display: flex;
  justify-content: center;
}

.contend-img-2 img {
  width: 90%;
}

.contend-img-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contend-img-3 img {
  width: 45%;
}

.info-4 {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: white;
  gap: 10px;
}

.sub-title {
  font-size: 1.1rem;
}

.contend-img-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contend-img-4 img {
  width: 30%;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 3rem;
    font-weight: normal;
  }

  .contend-img-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .contend-img-4 img {
    width: 10%;
  }

  .info-1 {
    width: 60%;
  }

  .contend-img-2 img {
    width: 75%;
  }

  .contend-img-3 {
    flex-direction: row;
    padding: 10px 25px;
  }

  .contend-img-3 img {
    width: 45%;
  }

  .info-4 {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: white;
    gap: 10px;
  }

  .sub-title {
    font-size: 1.2rem;
  }
}
