@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  margin: 25px;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 90%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-card {
  padding: 20px;
  border-radius: 25px;
}

.card .item-card:nth-child(1) {
  background-color: #c6d9e1;
}

.item-card h4 {
  font-size: 1.2rem;
}

.card-2 img {
  width: 50%;
  padding: 15px;
}

.imgs-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.imgs-2 img:nth-child(2) {
  width: 100%;
}

.imgs-2 img:nth-child(1) {
  width: 30%;
  position: absolute;
  bottom: 85%;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    margin-bottom: 0;
    margin-top: 70px;
  }

  .info-1 {
    align-items: start;
    text-align: start;
    position: relative;
    bottom: 8%;
    gap: 35px;
  }

  .info-1 h1 {
    font-size: 2.7rem;
  }

  .card {
    flex-direction: row;
  }

  .card-2 {
    display: flex;
  }

  .imgs-2 img:nth-child(1) {
    width: 20%;
    bottom: 91%;
  }
}