@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 20px;
  width: 90%;
  margin: 25px;
}

/* CAMBIAR EN PC */

.img-pc {
  display: none;
}

/* Resto */

.div-img-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-movil {
  width: 90%;
}

.itm-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 25px;
  margin: 25px auto;
}

.item-lst:nth-child(1) {
  background-color: #f1c2b0;
}

.item-lst:nth-child(2) {
  background-color: #f9eb98;
}

.item-lst:nth-child(3) {
  background-color: #c0d9dd;
}

.item-lst:nth-child(4) {
  background-color: #6975e8;
}

.item-lst {
  padding: 25px;
  border-radius: 25px;
}

.item-lst h3 {
  font-size: 1.3rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top img {
  width: 8%;
  height: 8%;
  margin: 5px 0;
}

.top h4 {
  font-size: 2.5rem;
  display: flex;
  color: white;
  font-weight: 700;
}

@media (min-width: 930px) {
  .grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
  }

  .info-1 {
    width: 40%;
  }

  .info-1 h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  /* CAMBIAR EN CEL */

  .img-movil {
    display: none;
  }

  /* Resto */

  .div-img-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-pc {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 500px;
    width: 700px;
  }

  .img-pc img {
    width: 10%;
    height: 10%;
  }

  .img-pc img:nth-child(1) {
    width: 9%;
    height: 12%;
    position: absolute;
    left: 47%;
    top: 43%;
  }

  .img-pc img:nth-child(2) {
    width: 9%;
    height: 12%;
    position: absolute;
    left: 20%;
    top: 10%;
  }

  .img-pc img:nth-child(3) {
    width: 30%;
    height: 40%;
    position: absolute;
    left: 20%;
    top: 25%;
  }

  .img-pc img:nth-child(4) {
    width: 18%;
    height: 25%;
    position: absolute;
    left: 65%;
    top: 50%;
  }

  .lista {
    flex-direction: row;
    width: 95%;
  }

  .top img {
    width: 12%;
    height: 12%;
  }
}