@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.grid {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-1 {
  width: 100%;
}

.title {
  font-weight: 500;
  text-align: center;
  background: transparent;
}

.num {
  margin-left: 7%;
  font-weight: 700;
  color: #717171;
}

.div-imgs-1 {
  display: flex;
}

img {
  width: 80%;
}

.div-f1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-f2 {
  padding: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-image: url(../img/Gradient\ bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  text-align: center;
  background: transparent;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

@media (min-width: 930px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .st {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 120%;
    top: 35%;
    left: 20%;
  }

  .st-2 {
    width: 40%;
    height: 110%;
    position: relative;
    z-index: 2;
    bottom: 35%;
    right: 18%;
  }

  .sol {
    height: 80%;
    top: 40%;
    right: 10%;
    position: relative;
    z-index: 2;
    width: 40%;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .div-imgs-1 {
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .ex {
    width: 40%;
    height: 70%;
    position: relative;
    z-index: 2;
    top: 20%;
  }

  .div-f1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .div-f2 {
    height: 500%;
    justify-content: center;
  }

  .title {
    font-weight: 600;
    font-size: 4.5rem;
  }

  .num {
    margin-left: 0;
  }

  .text {
    text-align: start;
  }
}
