@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  margin: 20px auto 20px 30px;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
}

.itm-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 20px 0px;
}


.img-1 {
  width: 25%;
}

.wide{
    width: 90%;
}
.info-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 20px;
  width: 90%;
}

.nota {
  width: 90%;
  border: 1.5px solid #000;
  padding: 20px;
  box-shadow: 10px 10px 0px 0px #252525;
}

.nta {
  background-color: #252525;
  color: white;
  padding: 15px;
  font-style: italic;
}

.reds {
  display: flex;
}

i {
  font-size: 2.5rem;
}

/* Sub grid */

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
  grid-auto-flow: dense;
}

.sub-item {
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0%;
}

.wide {
  grid-column: span 2;
  width: 440px;
}

.tall1, .tall2 {
  grid-row: span 2;
}
.tall1{
    height: 440px;
    grid-row-start: 2;
    grid-row-end: 4;
}
.tall2{
    height: 440px;
    grid-row-start: 3;
    grid-row-end: 5;
}
.target {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 5px 5px 0px 0px #252525;
  padding: 10px 15px;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    margin: 35px;
    gap: 100px;
  }

  .info-1 p {
    font-size: 1.1rem;
  }

  .info-1 h1 {
    font-size: 2.6rem;
  }
.sub-item {
  margin: 0 45%;
}
  .itm-2 {
    gap: 0;
  }

  .sub-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .sub-item {
    margin: 0;
  }

  .wide {
    grid-column: span 2;
    width: 440px;
  }

  .tall {
    grid-row: span 2;
    height: 440px;
  }

  .target {
    position: absolute;
    left: 78%;
  }
}