@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #252525;
  background-image: url("imgs/da1.png");
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 20px auto;
}

.btn {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  gap: 20px;
}

.div-imgs-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.lista {
  display: flex;
  border: 1.5px solid #000;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  justify-content: space-around;
}

.item-lst {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-lst h4 {
  font-size: 1.1rem;
}

.div-imgs-1 img {
  width: 80%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .itm-1 {
    margin-left: 5%;
    gap: 80px;
  }

  .info-1 {
    align-items: start;
    text-align: start;
    width: 90%;
    padding: 0;
  }

  .div-imgs-1 {
    flex-direction: row;
  }

  .itm-2 {
    display: flex;
    flex-direction: row;
  }

  .itm-2 img {
    width: 80%;
  }

  .empty {
    width: 100%;
    height: 80px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}