@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  text-align: start;
  padding: 10px 30px;
  background-color: #ffffff;
  text-decoration: none;
  color: #252525;
  border-radius: 25px;
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 25px;

  background-position: center;
}

.div-imgs-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  background-repeat: no-repeat;
  width: 362px;
  height: 320px;
}

.info-img {
  color: #5e5c5c;
  width: 50%;
  padding: 25px;
}

.img h4,
.img-2 h4 {
  font-weight: 900;
  font-size: 2.3rem;
}

.img p,
.img-2 p {
  font-size: 0.9rem;
}

.img-2 {
  color: #5e5c5c;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: end;
  text-align: right;
}

.info-img-2 {
  padding: 25px;
}

@media (min-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-1 {
    justify-content: center;
    align-items: start;
    text-align: start;

    width: 100%;
    height: 70%;
  }

  .info-1 h1 {
    font-size: 4.3rem;
  }

  .info-1 p {
    font-size: 1.5rem;
  }

  .div-imgs-1 {
    width: 100%;
    height: 30%;
    flex-direction: row;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .info-img {
    color: #5e5c5c;
    width: 50%;
    padding: 25px;
  }

  .img h4,
  .img-2 h4 {
    font-weight: 900;
    font-size: 2.3rem;
  }

  .img p,
  .img-2 p {
    font-size: 0.9rem;
  }

  .img-2 {
    color: #5e5c5c;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: end;
    text-align: right;
  }

  .info-img-2 {
    padding: 25px;
  }
}