* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 15px auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #252525;
  color: white;
  font-size: 1rem;
  padding: 5px 10px;
  width: 30%;
  height: 20%;
  text-align: center;
  border-radius: 8px;
}

.imgs1,
.imgs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 930px) {
  .grid-item {
    width: 50%;
    height: auto;
  }

  .grid-item-imgs {
    width: 100%;
  }

  .title {
    font-size: 2.7rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
    padding: 8px;
    width: 23%;
    height: 20%;
  }

  .imgs1,
  .imgs2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: auto 25px;
  }

  .img {
    width: 75%;
  }
}
